body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(135deg, rgb(179, 255, 250), rgb(140, 239, 175));
    margin-bottom: 10px;
    min-height: 100vh; 
}

.documento {
    width: 800px;
    margin: 0 auto;
    border: 2px solid black;
    padding: 20px;
    background: white;
}

.logo {
    text-align: center;
    margin-bottom: 10px;
    border: 2px solid black;
    background: white;
}

.logo img {
    width: 260px;
    background: white;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    background: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 6px;
    background: white;
}

td, th {
    border: 1px solid black;
    padding: 5px;
    font-size: 13px;
}

input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 13px;
}

.header {
    background: #d9ead3;
    font-weight: bold;
    text-align: center;
}
.header2 {
    background: #d9ead3;
    font-weight: bold;
    text-align: left;
}
.header3 {
    background: #ffffff;
    font-weight: bold;
    text-align: left;
}
.center {
    text-align: center;
}

.total {
    font-weight: bold;
    text-align: right;
}

.nota {
    font-size: 12px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

canvas {
    border: 2px solid black;
    touch-action: none;
}

.acciones {
    text-align: center;
    margin-top: 15px;
}

button {
    padding: 8px 14px;
    margin-top: 10px;
    cursor: pointer;
}

.footer td {
    font-size: 11px;
    text-align: center;
    padding: 6px;
}

select {
    width: 100%;
    border: none;
    font-size: 13px;
    background: transparent;
}
.total-input {
    color: #ff3333;
    font-weight: bold;
}
.remission-number {
    color: #fa1414;
    font-size: 20px;
    text-align: right;
}
.remission-text {
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    padding: 2px;
}
.version {
    color: #8c8a8a;
    text-align: left;
}